.ticket{
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    @include trans(all .3s);
    &:hover{
        box-shadow: 0 15px 15px rgba(0, 0, 0, 0.15);
        transform: translateY(-5px);
    }
    &__name{
        color: $blue;
        line-height: 18px;
        font-weight: 700;
        margin-bottom: 1.5rem;
        font-size: .85rem;
        @include center-item(flex, start, center);
        svg {
            margin-right: .8rem;
            path{
                fill: $blue;
                @include trans(all .2s);
            }
        }
        &:hover{
            color: $orange;
            svg path{fill: $orange;}
        }
        &.used{
            color: $dark;
            svg path{fill:$dark;}
        }
        &.cancel{
            color: $red;
            svg path{fill:$red;}
        }
        &.expired{
            color: $orange;
            svg path{fill:$orange;}
        }
    }
    &__info-QR{
        font-size: .75rem;
        color: $dark-gray;
        text-align: center;
        img{
            height: 100px;
            margin: .5rem auto 1.4rem;;
        }
    }
    &__title{
        font-size: .75rem;
        color: $dark-gray;
        &.first{
            font-size: .9rem;
            color: $dark;
            font-weight: bold;
        }
    }
    &__content{
        font-size: .75rem;
        font-weight: bold;
        &.first{
            font-size: .9rem;
        }
    }
    .flex-item{
        padding: .5rem 0;
    }
    .btn{
        font-size: .7rem;
    }
}